name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - board: nice_nano@2
            shield: crkbd_left
            snippet: studio-rpc-usb-uart
            artifact-name: corne_left_with_studio
          - board: nice_nano@2
            shield: crkbd_right
            snippet: studio-rpc-usb-uart
            artifact-name: corne_right_with_studio

    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
