name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      matrix: |
        include:
          - board: nice_nano_v2
            shield: crkbd_left
            artifact-name: corne_left_bt
          - board: nice_nano_v2
            shield: crkbd_right
            artifact-name: corne_right_bt
