name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - board: nice_nano_v2
            shield: crkbd_left
            artifact_name: corne_left_bt
          - board: nice_nano_v2
            shield: crkbd_right
            artifact_name: corne_right_bt

    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      board: ${{ matrix.board }}
      shield: ${{ matrix.shield }}
      artifact-name: ${{ matrix.artifact_name }}
